## Dictionaries
In Python dictionaries are written with curly brackets and they have keys and values seperated by commas.

#### Properties
* Can store different data types
* Order doesnt matter here
* Keys should be unique
* Mutable

In [ ]:
# Example
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
dict1
type(dict1)

dict

In [ ]:
# Dictionary Length
len(dict1)

4

#### Accessing Items

In [ ]:
# 1)
x = dict1["model"]
x

'Pulsar'

In [ ]:
# 2) get(keyname)
x = dict1.get("model")
x

'Pulsar'

#### Change/update Values

In [ ]:
#update the year
dict1["year"] = 2018
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [ ]:
# keys() method to get the keys 
keys = list(dict1.keys())
print(keys)

['Brand', 'model', 'year', 'cost']

In [ ]:
# values() method to get the values
vals = list(dict1.values())
print(vals)

['Bajaj', 'Pulsar', 2018, 85000]

In [ ]:
# items() method to get both keys and values
items = list(dict1.items())
items

[('Brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)]

#### Adding items to an existing dictionary

In [ ]:
# add color of the bike
dict1["color"] = "Black"
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black'}

In [ ]:
# add tyreType
dict1['tyreType'] = 'Tubeless'
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black',
 'tyreType': 'Tubeless'}

#### Removing items

In [ ]:
# 1) pop(key)
rem = dict1.pop('model')
print(rem)
print(dict1)

Pulsar
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [ ]:
# adding again
dict1['model'] = 'Pulsar'
dict1

{'Brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'Black',
 'tyreType': 'Tubeless',
 'model': 'Pulsar'}

In [ ]:
# 2) popitem() removes the last inserted item
print(dict1)
dict1.popitem()
print(dict1)

{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless', 'model': 'Pulsar'}
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [ ]:
# 3) del keyword
del dict1['year']

In [ ]:
dict1

{'Brand': 'Bajaj', 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [ ]:
# 4) clear() method
dict1.clear()

In [ ]:
dict1

{}

#### Copy a dictionary

In [ ]:
# 1) copy() method
dict1 = {
  "brand": "Bajaj",
  "model": "Pulsar",
  "year": 2015,
  "cost": 85000
}
mydict = dict1.copy()
print(mydict)

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

#### Nested Dictionaries

In [ ]:
child1 = {
  "name" : "John",
  "year" : 1995
}
child2 = {
  "name" : "Sammy",
  "year" : 2001
}


myfamily = {
  "child1" : child1,
  "child2" : child2
}

In [ ]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [ ]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}

In [ ]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

#### Exercises on Dictionaries

In [ ]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995,
    "hobbies":["Music","Cricket","TV"]
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}
myfamily

{'child1': {'name': 'John',
  'year': 1995,
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [ ]:
#accessing "John"
myfamily["child1"]["name"]

'John'

In [ ]:
#accessing 1995
myfamily["child1"]["year"]

1995

In [ ]:
#accessing "Sammy"
myfamily["child2"]["name"]

'Sammy'

In [ ]:
#accessing 2001
myfamily["child2"]["year"]

2001

In [ ]:
myfamily

{'child1': {'name': 'John',
  'year': 1995,
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [ ]:
#accessing 'Cricket'
myfamily['child1']['hobbies'][1]

'Cricket'

In [ ]:
#get ['Cricket','TV']
myfamily['child1']['hobbies'][1:]

['Cricket', 'TV']

In [ ]:
#get ['Music','TV']
myfamily['child1']['hobbies'][::-1]

['TV', 'Cricket', 'Music']

### Task-5

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
dict1

{'april_batch': {'student': {'marks': {'maths': 70, 'python': 80},
   'name': 'Mike'}}}

From the above dictionary, do the following tasks
1. access "Mike"
2. access 80
3. change "Mike" to "Your name"
4. add ML = 80 and DL = 80 inside marks

In [3]:
#1. access "Mike"
dict1['april_batch']['student']['name']

'Mike'

In [4]:
#2. access 80
dict1['april_batch']['student']['marks']['python']

80

In [5]:
#3. change "Mike" to "Your name"
dict1['april_batch']['student']['name']= "Alan"
print(dict1)

{'april_batch': {'student': {'name': 'Alan', 'marks': {'python': 80, 'maths': 70}}}}

In [7]:
#4. add ML = 80 and DL = 80 inside marks 
dict1['april_batch']['student']['marks'].update({'ML': 80, 'DL': 80})

print(dict1)

{'april_batch': {'student': {'name': 'Alan', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}