## Tuples
In Python Tuples are written with round brackets.
#### Important properties of Tuples

* Can store different data types
* Duplicate values are allowed
* Order is retained
* Indexing and slicing is possible
* Immutable.

In [ ]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")

In [ ]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [ ]:
tup2 = (1,2,3,4,5,1,1)

In [ ]:
tup2

(1, 2, 3, 4, 5, 1, 1)

In [ ]:
# check the type using type()
type(tup1)

tuple

In [ ]:
# len()
len(tup2)

7

#### Create a tuple with one element

In [ ]:
tup3 = ("Python")

In [ ]:
tup3

'Python'

In [ ]:
# String type
type(tup3)

str

In [ ]:
# to create a tuple with one element make use of comma(,) after the value
tup3 = ("python",)

In [ ]:
tup3

('python',)

In [ ]:
type(tup3)

tuple

In [ ]:
len(tup3)

1

#### Indexing
Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [ ]:
# to get the first element
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [ ]:
tup1[0]

1

In [ ]:
# to get the third element
tup1[2]

3

In [ ]:
# to get the last element
tup1[-1]

'Python'

#### Slicing

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [ ]:
# to get first 5 elements 
tup1[:5]

(1, 2, 3, 4.4, 5.5)

In [ ]:
# to get last 5 elements 
tup1[-5:]

(5.5, True, False, 'Maths', 'Python')

In [ ]:
# to get alternate elements 
tup1[::2]

(1, 3, 5.5, False, 'Python')

#### Immutable
Once the tuple is created, you cannot add,remove or modify the elements

In [ ]:
# try to add values
tup1 = (1,2,3,4,5)
tup1[5] = 6 # Error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# remove 
tup1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# modify the values
tup1

(1, 2, 3, 4, 5)

In [ ]:
tup1[0] = 100 #Error

TypeError: 'tuple' object does not support item assignment

#### workaround to modify the values

In [ ]:
# My original tuple
tup1

(1, 2, 3, 4, 5)

In [ ]:
#Convert to list 
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

In [ ]:
#Modify the value
list1[0] = 100
list1

[100, 2, 3, 4, 5]

In [ ]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(100, 2, 3, 4, 5)

#### To check a perticular value is present

In [ ]:
#use 'in' operator
#syntax ---> item in object
tup1
print(100 in tup1)

True

In [ ]:
print(200 in tup1)

False

#### Joining tuples

In [ ]:
tup1 = (1,2,3,4)
tup2 = ("a","b","C","d")

tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 'a', 'b', 'C', 'd')

#### some inbuilt methods

In [ ]:
# tup
tup = (1,2,3,4,1,1,2,1,2,3,6)

##### 1) count(item)
Returns the number of times a specified item occurs in a tuple

In [ ]:
tup.count(1)

4

In [ ]:
tup.count(2)

3

##### 2) index(item)
Returns the first index of specified item.
If item is not present it will give error

In [ ]:
tup.index(3)

2

### Task6 -  Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

In [18]:
tup2 = (1,2,3,4.4,5.5,"Maths","Python")

In [19]:
tup2

(1, 2, 3, 4.4, 5.5, 'Maths', 'Python')

In [20]:
#adding element
#convert tuple to list 
list2 = list(tup2)
print(list2)

[1, 2, 3, 4.4, 5.5, 'Maths', 'Python']

In [21]:
#adding element
list2.append("alan")
print(list2)

[1, 2, 3, 4.4, 5.5, 'Maths', 'Python', 'alan']

In [22]:
#remove element
list2.remove("Maths")
print(list2)

[1, 2, 3, 4.4, 5.5, 'Python', 'alan']

In [24]:
#convert list to tuple
tup2 = tuple(list2)
tup2

(1, 2, 3, 4.4, 5.5, 'Python', 'alan')