# LOOPS
The purpose of loops is to repeat the same, or similar, code a number of times. This number of times could be specified to a certain number, or the number of times could be dictated by a certain condition being met

There are 2 types of Loops 
* 1) While Loops
* 2) For loops

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

## While loops

In [ ]:
"""
syntax

while(condition/s):
    statement1
    statement2
    ..........
"""

In [ ]:
# ex1)
count = 1
while(count<11):
    print(count)
    count = count + 1

1
2
3
4
5
6
7
8
9
10

## while - else
if you want to know your while loop has finished its execution and you want to do some operations then you can make use of "else"

In [ ]:
#ex2) 
count = 1
while(count<11):
    print(count)
    count = count + 1
else:
    print("End of while loop")
    print(count)

1
2
3
4
5
6
7
8
9
10
End of while loop
11

## break
break keyword is used to break out of the loop or come out of the loop

In [ ]:
# if count has reached 5 then break
count = 1
while(count<11):
    if(count == 5):
        print(count)
        break
    else:
        print(count)
        count = count + 1

1
2
3
4
5

### continue
continue keyword takes the execution to the begining of the loop.
In other word it skips that perticular iteration

In [ ]:
# print only odd numbers
count = 0
while(count<11):
    count = count + 1
    if(count%2 == 0):
        continue
    print(count)

1
3
5
7
9
11

## For loops
* For loops are basically used to loop over a sequence.
* Sequence can be anything like strings,Lists,Tuples,Dictionaries,Sets etc

In [ ]:
"""
syntax

for item in seq:
    statements....
"""

In [ ]:
# looping over the strings
str1 = "abcde"

for item in str1:
    print(item)

a
b
c
d
e

In [ ]:
# looping over lists

list1 = [1,2,3,4,5]

for item in list1:
    print(item)

1
2
3
4
5

### range(start,stop,step)
* The range() function is used to generate a sequence of numbers over time

In [ ]:
# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

# range(10) -> 10 is the stop parameter
# range(1,10) -> 1 is start,10 is stop
# range(1,10,2) -> 1 is start,10 is stop,2 is step

In [ ]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
#looping in reverse order from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# using break in for loops
for i in range(10):
    if ( i == 7):
        break
    print(i)

0
1
2
3
4
5
6

In [ ]:
# using continue in for loops
# say you dont want to print 4,5,6
for i in range(10):
    if(i==4 or i == 5 or i == 6):
        continue
    print(i)

## pass
pass keyword does nothing but you can avoid getting an error when empty code is not allowed. Empty code is not allowed in loops,if else conditions,functions,Classes etc

In [3]:
if(4>2):
    pass

In [4]:
if(4>2):
    print("A")
else:
    pass

A

In [5]:
for i in range(10):
    pass

### Task 10.1 = what is the uasge of continue wiith an example.

what is the uasge of continue
The continue statement in Python returns the control to the beginning of the while loop. The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

The continue statement can be used in both while and for loops.

In [2]:
#continue wiith an example
for i in range(15):
  if i== 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14

### Task 10.2 What is pass keyword, with example.

What is pass keyword, with example.
the pass keyword is used to execute nothing; it means, when we don't want to execute code, the pass can be used to execute empty. It is the same as the name refers to. It just makes the control to pass by without executing any code. If we want to bypass any code pass statement can be used.

In [6]:
for x in [0, 1, 2]:
  pass

### Task10
* using **while loop** print numbers from 10 to 1
* try using **for loop** to loop over tuples,sets and dictionaries

**using while loop print numbers from 10 to 1**

In [14]:
a = 10
while a>0:
  print(a)
  a = a-1

10
9
8
7
6
5
4
3
2
1

**try using for loop to loop over tuples,sets and dictionaries**

tuple

In [18]:
tup1 = (1,3,5,"alan","raju")
for a in tup1:
  print(a)

1
3
5
alan
raju

In [19]:
tup2 = ("alan")
for b in tup2:
  print(b)

a
l
a
n

set

In [21]:
set1 = {1,2,3,4,5,6}
for c in set1:
  print(c)

1
2
3
4
5
6

In [22]:
set2 = {"alan"}
for d in set2:
  print(d)

alan

dictionaries

In [23]:
dict1 = {"name" : "alan","class" : 12}
for e in dict1:
  print(e)

name
class

In [26]:
dict2 = {"name" : "alan","class" : 12}
for f in dict2.values():
  print(f)

alan
12