## Lambda Functions
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.
* They are mostly used along with map and filter functions

In [ ]:
# Syntax
# lambda arguments : expression

### Ex1) Squaring a number

In [ ]:
# with one argument

# normal function
def square(num):
    return num**2

square(5)

25

In [ ]:
# lambda functions
square = lambda num:num**2

In [ ]:
square(5)

25

### Ex2) adding multiple numbers

In [ ]:
# with multiple arguments
# normal function
def add(x,y,z):
    return x + y + z

add(5,10,15)

30

In [ ]:
# lambda function
add = lambda x,y,z:x + y + z

In [ ]:
add(5,10,15)

30

##### we wont use lambda functions like this. We will mostly use them along with map,filter functions

## Map function

* The **map** function allows you to "map" a function to an iterable object.
* It returns map object

In [ ]:
"""
about map function

syntax ---->
map(function,sequence)

it applies the function to all the elements in the sequences 

returns the map object
"""

### Ex1) Square all the elements of a list using map function

In [ ]:
# sequence
my_nums = [1,2,3,4,5]

In [ ]:
#function to square a number
def square(num):
    return num**2

In [ ]:
#map
map(square,my_nums)

In [ ]:
# To get the results, either iterate through mapobj 
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [ ]:
# or just convert to a list
list(map(square,my_nums))

[1, 4, 9, 16, 25]

### Ex2) even or odd numbers

In [ ]:
#sequence
my_nums = [1,2,3,4,5]

In [ ]:
#function
def even_odd(num):
    if(num%2==0):
        return 'even'
    else:
        return 'odd'

In [ ]:
list(map(even_odd,my_nums))  #['odd','even','odd','even','odd']

['odd', 'even', 'odd', 'even', 'odd']

## Filter function

* The filter function allows you to filter the elements based on the condition given in the function.
* returns an filter object

In [ ]:
"""
about filter function

syntax ---->
filter(function,sequence)

it applies the function to all the elements in the sequences and 
retains only those elements which passes the specific conditions

returns the filter object
"""

### Ex1) To filter the words starting with 'a'

In [ ]:
#Sequence
words_list = ['apple','banana','airport','ant','cat']

In [ ]:
# function
def starts_with_a(word):
    if(word[0] == 'a'):
        return True
    else:
        return False

In [ ]:
list(filter(starts_with_a,words_list))  #['apple','airport','ant']

['apple', 'airport', 'ant']

### Ex2) To filter only the even numbers

In [ ]:
# Sequence
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
#function
def check_even(num):
    if(num%2==0):
        return True
    else:
        return False
    
# def check_even(num):
#     return num%2 == 0

In [ ]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

### Note : the difference between filter and map

In [ ]:
# map
list(map(check_even,nums))

[True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
# filter
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## Using map() and filter() with lambda functions

### Ex1) Square Ex

In [ ]:
# sequence
my_nums = [1,2,3,4,5]

# lambda with map function
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

### Ex2)

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

# filter with map function
filter(lambda num:num%2 == 0,nums)

In [ ]:
for item in filter(lambda num:num%2 == 0,nums):
    print(item)

0
2
4
6
8
10

## Task10 : Go through
* **reduce()**
* **zip()**
* **enumerate()**

**reduce()**

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along. and this function is defined in "functions" module.

In [2]:
import functools
l1 = [1,2,3,4,5,6]

In [3]:
print("the sum of the list elements is: ",end="")
print(functools.reduce(lambda a,b: a+b,l1))

the sum of the list elements is: 21

In [5]:
print("the minimum element of the list is:",end="")
print(functools.reduce(lambda a,b: a if a<b else b,l1))

the minimum element of the list is:1

**zip()**

Join two tuples together and If one tuple contains more items, these items are ignored.

In [1]:
tup1 = ("alan","joe","anil")
tup2 = ("ram","raju","ramu")

In [2]:

print(tuple(zip(tup1, tup2)))

(('alan', 'ram'), ('joe', 'raju'), ('anil', 'ramu'))

In [3]:
tup3 = ("kiran","namitha","krupa","ponnuz")
tup4 = ("alan","aswin","zai")

In [4]:
print(tuple(zip(tup3 , tup4)))

(('kiran', 'alan'), ('namitha', 'aswin'), ('krupa', 'zai'))

**enumerate()**

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task.

In [5]:
l3 = ["eat","sleep","wakeup"]
l4 = "goodnight"

obj1 = enumerate(l3)
obj2 = enumerate(l4)

In [6]:
print("return type:",type(obj1))

return type: <class 'enumerate'>

In [7]:
print(list(enumerate(l3)))

[(0, 'eat'), (1, 'sleep'), (2, 'wakeup')]

In [8]:
print(list(enumerate(l4,2)))

[(2, 'g'), (3, 'o'), (4, 'o'), (5, 'd'), (6, 'n'), (7, 'i'), (8, 'g'), (9, 'h'), (10, 't')]